
@model SoloProject.Models.Post

<div class="container deletePost">
    <h2>Are you sure you want to delete this Post?</h2>
    <hr />
    <h3>Post: @Html.DisplayFor(model => model.Content)</h3>
    <div>
        @using (Html.BeginForm())
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
    </div>
</div>