@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SoloProject.Models.Post
<div class="container editPost">
    <h3>Edit current Post</h3>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.PostId)

        @Html.LabelFor(model => model.Content)
        <br />
        @Html.EditorFor(model => model.Content)


        <input type="submit" value="Save" class="btn btn-warning"/>
    }
    <br />
    @Html.ActionLink("Back to the list", "Index", "Home")
</div>