body {
    background-color: #DADFE1;
}
.post {
    width: 500px;
}
.createPost, .editPost, .deletePost, .createComment, .editComment, .deleteComment {
    padding-top: 20px;
    width: 500px;
    padding-bottom:100px;
}
.comment {
    border: 1px solid black;
    margin-bottom: 3px;
    width: 300px;
    
}
.postTitle {
    text-align: center;
}
.jumbotron {
    text-align: center;
    background-color: #6C7A89;
}
.footer {
    width: 500px;
}
.commentPage {
 
}

.navbar {
   text-align: right;
}
.login, .register {
    text-align:center;
}