body {
    background-color: #DADFE1;
}
.createPost, .editPost, .deletePost, .createComment, .editComment, .deleteComment {
    padding-top: 20px;
    width: 500px;
    padding-bottom:100px;
}
.comment {
    border:solid 1px #c7c7c7;
-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
-moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
    margin-bottom: 3px;
    width: 400px;
    padding: 20px;
}
.postTitle {
    text-align: center;
}
.jumbotron {
    text-align: center;
    background-color: #6C7A89;
}
.footer {
    width: 500px;
}
.commentPage {
 
}

.navbar {
   text-align: right;
   background-color: darkblue;
   padding-right: 10px;
   color:white;
   padding-top:10px;
}
.login, .register {
    text-align:center;
}
container post {
  
}
.post {

background:#fafafa;
padding: 20px;
width: 600px;
margin:10px auto;
border:solid 1px #c7c7c7;
-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
-moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
}
.new-post-button{
    text-align:center;
    padding-bottom:20px;
}
.left-side{
 
}

.modal-content, .createPost {
    margin: 0 auto;
    padding-left: 75px;
}