@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SoloProject.Models.Comment
<div class="container">
    <h1>Create new comment</h1>
    <br />
    <div class="container">
        @using (Html.BeginForm())
        {
            <input id="PostId" type="hidden" name="PostId" value=@ViewBag.PostId />


            <p>@Html.LabelFor(model => model.CommentBody)</p>
            <p>@Html.TextAreaFor(model => model.CommentBody)</p>

            <input type="submit" value="Create" />
        }
    </div>
</div>